<p id="notice"><%= notice %></p>

<%= link_to "Welcome", pages_welcome_path(:option => "a") %>
<%= link_to "Welcome", pages_welcome_path(:option => "b") %>
<%= link_to "Welcome", pages_welcome_path(:option => "c") %>
<%= link_to "Welcome", pages_welcome_path(:option => "d") %>


<h1>Listing Hospitals</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Longitude</th>
      <th>Latitude</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hospitals.each do |hospital| %>
      <tr>
        <td><%= hospital.name %></td>
        <td><%= hospital.address %></td>
        <td><%= hospital.longitude %></td>
        <td><%= hospital.latitude %></td>
        <td><%= hospital.description %></td>
        <td><%= link_to 'Show', hospital %></td>
        <td><%= link_to 'Edit', edit_hospital_path(hospital) %></td>
        <td><%= link_to 'Destroy', hospital, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hospital', new_hospital_path %>
